---
layout: default
title: Home
---

<!-- <header class="page-header">
  <div class="container">
    <h1>HOT Summit 2021</h1>
    <h2> 22 November 2021 </h2>
  </div>
</header> -->


<div class="container">
  <div class="highlight-module secondary-highlight-module">
    <div class="highlight-details">
      <div class="highlight-info">
        <div class="highlight-hr"></div>
        <h3>HOT UNSUMMIT 2022</h3>

         <br /> <br />

        <div class="highlight-options">
          <a href="https://www.hotosm.org/updates/update-on-the-2022-and-2023-summits/" class="btn btn-primary btn-lg btn-chevron" target="_blank">Read our Announcement</a>
        </div>
      </div>
    </div>
    <div class="highlight-image">
      <img src="images/hot-logo-icon-red.svg">
    </div>
  </div>
</div>

<div class="container">
  <div class="project-module">
    <div class="module-details article">
            
      <p>For the past 7 years, the HOT Summit has brought together local and global communities, humanitarian and development agencies, academics, volunteers and contributors, and government and private sector partners to share, explore, and discuss how to leverage OpenStreetMap and open mapping for social impact and change.

      <p>The last two HOT Summits were online, due to Covid, and this has given us the chance to reflect on how to do this. In the next 12 months, we will not hold a central HOT Summit, but instead will invest the time, money and other resources in supporting and collaborating on a range of conferences and community events, bringing the spirit of the Summit to multiple new places and hundreds of new people! 

      <p>To read more about our new approach to the summit, please see our <a href="https://www.hotosm.org/updates/update-on-the-2022-and-2023-summits/" target="_blank">recent news post</a>.

      <p>We are currently seeking conferences to collaborate with. For details on what we’re looking for and how you can help, <a href="https://www.hotosm.org/updates/hot-looking-for-exciting-conference-collaborations-for-2022/" target="_blank">see here</a>.

      <!-- <p style="text-align:center" ><iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLb9506_-6FMGdjJSF4SmLW-_S204m7GrR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p> -->
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="home-newsletter">
    <div class="newsletter-signup">
      <h2>Subscribe for updates <br>& announcements</h2>
      {% include newsletter-form.html %}
    </div>
    <div class="newsletter-description">
      {% include newsletter-description.html %}
    </div>
  </div>
</div> -->
